
@font-face {
    font-family: Mulish;
    src: url(/recursos/mulish-font.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Mulish, sans-serif;  
    list-style: none;

}

:root{
    --naranja-principal: #f38026;
}

body{
    background: #000000;
    margin: 30px;
    color: var(--naranja-principal);
    /* display: flex;
    justify-content: center; */
}


.nav{
    width: 20vw;
    height: 100vh;
}

.logo-radio{
    width: 80px;
    margin-bottom: 40px;
}

.linea{
    height: 300px;
    border-left: 2px solid var(--naranja-principal);
    position: absolute;
    left: 69px;
    top: 180px;
    z-index: 1;
}

.lista-programas{
    width: 80px;
}

.logo-prog{
    width: 40px;
    display: block;
    margin: 20px;
    z-index: 9;
}

header{
    width: 75vw;
    height: 100vh;
}


h2{
    font-size: 18px;
    letter-spacing: 8.5px;
}